---
layout: default
title: Posts
permalink: /posts/
---

<div class="px-5 container">
    <div class="container-fluid py-5">
        <h2 class="display-6 fw-bold">Recent Posts</h2>
        <p class="col-md-8 fs-6">
            All the long form blub that no one is going to read is bunched up here
        </p>
    </div>


    <div class="row gx-5">
        {% assign sorted = site.posts | sort: 'date' | reverse  %}
        {% for post in sorted %}
            {% include posts-control.html %}
        {% endfor %}
    </div>
</div>