<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0QPN1RF97X"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0QPN1RF97X');
    </script>

    <!--Meta tags-->
    <!--WhatsApp Metas-->
    <meta property="og:site_name" content="Tanaka Mawere">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" itemprop="image" content="{{ page.image }}">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="1440432930" />

    <!--SEO-->
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="dotnet, C#, Programmer, maui, .netmaui, .net, blazor, blazorhybrid, music, zimbabwe, harare, keyboard, piano, bass, guitar, drums, medical school"/>
    <meta name="thumbnail" content="{{ page.image }}"/>


    <script src="https://kit.fontawesome.com/f4b902f1d9.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap" rel="stylesheet">
</head>