<div class="col-lg-4 col-md-6 mb-4">
  <div class="card project-card shadow border-0 h-100">
    <div class="project-image-wrapper">
      <img src="{{ project.image }}" class="project-image" alt="{{ project.title }}">
      <div class="project-gradient-overlay"></div>
    </div>
    <div class="project-content">
      <h3 class="project-title fw-bold">{{ project.title }}</h3>
      <p class="project-description">{{ project.description }}</p>
      <a href="{{ project.url }}" class="btn project-btn">
        View Details <i class="fa-solid fa-arrow-right ms-2"></i>
      </a>
    </div>
  </div>
</div>

