<div class="row align-items-center m-2">
    <!-- <div class="col">
        <a href="https://instagram.com/tanaka_.mawere">
            <i class="fa-brands fa-instagram fa-xl icon-colour icon-size"></i>
        </a>
    </div> -->
    <!-- <div class="col">
        <a href="https://github.com/tanakamawere">
            <i class="fa-brands fa-github fa-xl icon-colour icon-size"></i>
        </a>
    </div> -->
    <div class="col">
        <a href="https://wa.me/263785468923">
            <i class="fa-brands fa-whatsapp fa-xl icon-colour icon-size"></i>
        </a>
    </div>
    <!-- <div class="col">
        <a href="https://www.youtube.com/channel/UCta53LdBaAj7gQ-JHgHBEfg">
            <i class="fa-brands fa-youtube fa-xl icon-colour icon-size"></i>
        </a>
    </div> -->
    <div class="col">
        <a href="mailto:tanaka@tanakamawere.co.zw">
            <i class="fa-solid fa-envelope fa-xl icon-colour icon-size"></i>
        </a>
    </div>
</div>