<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-expand-lg mt-4">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="/">TM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-semibold align-items-center justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/posts">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/mythoughts">Thoughts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <main class="p-5">
      {{ content }}
    </main>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
