---
layout: default
---
<div class="container mt-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-xl-6 col-xxl-6 text-center">
            <img class="rounded-top rounded-bottom img-fluid" src="{{ page.image }}"/>
        </div>
        <div class="col-lg-6 col-xl-6 col-xxl-4">
          <div class="my-3 text-center text-xl-start">
              {% for category in page.categories %}  
                <button class="btn btn-primary rounded-pill fw-semibold fs-small">
                    {{ category }}
                </button>
              {% endfor %}
              <h1 class="fw-bolder">
                  {{ page.title }}
              </h1>
              <div class="row align-items-center justify-content-between container-fluid">
                <!-- <img class="col rounded-circle" style="max-height: 50px; max-width: 50px; background-color: transparent;" src="/assets/img/profile_picture.jpg"/> -->
                <div class="col social-links">
                  <p>{{ page.author }}</p>
                  <h6>
                    {{ page.date | date: "%b %-d, %Y" }}
                  </h6>
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="px-3 highlight">
    {{ content }}
  </div>

  <!--Next article section-->
  <hr class="my-5"/>
  <h2 class="fw-bolder">Your next article...</h2>

  {% if page.previous %}
    <div class="card" style="max-width: 30rem;">
      <div class="row card-body">
        <div class="col-6">
          <img class="rounded-top rounded-bottom img-fluid" src="{{ page.previous.image }}"/>
        </div>
        <div class="col-6">
          <h3 class="card-title">{{ page.previous.title }}</h5>
          <a href="{{ page.previous.url | relative_url}}" class="btn btn-primary">Read it...</a>
        </div>
      </div>
    </div>
  {% endif %}


</div>

